<h1>{{localize "clff20.Help.Content.Items.Flags.Label"}}</h1>

<p>{{localize "clff20.Help.Content.Items.Flags.Desc.Basic"}}</p>

<h2>{{localize "clff20.FlagsDictionary"}}</h2>

<p>{{{localize "clff20.Help.Content.Items.Flags.Desc.DictionaryFlags.Basic"}}}</p>
